<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<br/>
<br/>

<a th:href="@{/new}">Создать новго Юзера</a>
<br/>
<hr/>

<table>

    <tbody>
    <tr>
        <th>ID</th>
        <th>ИМЯ</th>
        <th>ФАМИЛИЯ</th>
    </tr>
    <tr th:each="usr : ${user}">

        <td th:text="${usr.getId()}"></td>
        <td th:text="${usr.getName()}"></td>
        <td th:text="${usr.getLastname()}"></td>
        <td>
            <form th:method="get" th:action="@{/{id}/edit (id=${usr.getId()})}">
                <input type="submit" value="Обновить!"/>
            </form>

        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}/remove (id=${usr.getId()})}">
                <input type="submit" value="Удалить!"/>
            </form>

        </td>


    </tr>
    </tbody>
</table>


<!--<div>-->
<!--    <th:block th:each="usr : ${user}">-->
<!--        <p th:text="${usr}"></p>-->
<!--    </th:block>-->
<!--</div>-->
</body>
</html>